{% extends "base.html" %}
{% block content %}
<p>
<a class="btn" href="{{url_for('new', name=name)}}"><i class="icon-plus"></i> New Component</a>
</p>
<table class="table table-bordered table-striped component-table">
    <tr>
    <th>&nbsp;</th>
    {% for header in headers %}
        <th>{{ header }}</th>
    {% endfor %}
</tr>
    {% for id, uuid, row in data %}
    <tr>
        <td>
            <a href="{{url_for('delete', name=name, id=id)}}"><img src="{{static('images/cross.png')}}"></a>
            <a href="{{url_for('edit', name=name, id=id)}}"><img src="{{static('images/page_white_edit.png')}}"></a>
        </td>
        {% for cell in row %}
        <td>{{cell}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}

